@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');


.tr-classroom{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tr-classroomsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    background-color: #00abf0;
    font-family: 'Rubik', sans-serif;
}

.classroom-image{
    width: 70%;
}

.tr-greeting{
    text-align: left;
    padding: 10px;
}
.tr-greeting h1{
    color: #333;
    font-weight: 800;
    font-size: 50px;
}

.tr-greeting h1 span{
    color: #0088ff;
}

.tr-greeting p{
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    color: #333;
}
.tr-greeting p span{
    font-weight: 700;
    color: #ff606e;
    font-size: 24px;
}