@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

.tr-formbody{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: palegreen;*/
}
.tr-formholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    /* background-color: powderblue; */
    /* max-width: 400px; */
}

.profile-image{
    width: 70%;
}