@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');


.tr-dashboard{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* ---------- Section 1 ---------- */

.tr-dash1{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* background-color: powderblue; */
}

.dash-img{
    width: 80%;
}

.tr-wrt{
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    color: #333;
    padding: 0 15px 0 15px;
}
.tr-wrt h1{
    font-weight: 800;
}

.tr-wrt h1 span{
    color: #0088ff;
}

.tr-wrt p{
    font-size: 20px;
}

/* ---------- Section 2 ---------- */

.tr-noticehead{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: lawngreen; */
}
.tr-noticehead h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: #333;
}
.tr-noticehead h1 span{
    color: #ff606e;
}

.tr-typebox{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    /* background-color: #ff606e; */
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.tr-boximg{
    width: 30%;
}

.title{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.details{
    font-size: 20px;
}
.details span{
    color: #ff7a3c;
    font-size: 24px;
    font-weight: 600;
}

.tr-btn a{
    display: inline-flex ;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    background:#ff606e;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.tr-btn a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
