@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');



.tr-formholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    /* background-color: powderblue; */
    /* max-width: 400px; */
}

.signup-image{
    width: 400px;
}

.tr-formcontent{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px;
    font-family: 'Rubik', sans-serif;
}
@media (max-width: 550px){
    .tr-formcontent{
        padding: 20px;
    }
}

.tr-formitems{
    display: inline-block;
    text-align: left;
    transition: all 0.4s ease;
    /* background-color: #ff606e; */
    min-height: 50vh;
    padding: 10px;
}

 .tr-formcontent h3 {
    color: #333;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    
}

.tr-formcontent h3 .form-title {
    margin-bottom: 30px;
}

.tr-formcontent p {
    color: #333;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 20px;
}


.tr-formcontent label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #333;
}

.tr-formcontent input[type=text], .tr-formcontent input[type=password], .tr-formcontent input[type=email], .tr-formcontent select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 2px solid #999;
    outline: 0;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    color: #333;
    transition: all 0.3s ease;
    margin-top: 16px;
}
.btn-outline-secondary{
    background-color: #ffffff;
}


.btn-primary{
    background-color: #0088ff;
    outline: none;
    border: 0px;
    box-shadow: none;
    transition: all 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    /* background-color: #444749; */
    background-color: #0088ff;
    outline: none;
    border: none;
    /* scale: 1.1; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transition: all 0.3s ease;
}

.tr-formcontent textarea {
    position: static;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #333;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    transition: none;
    margin-bottom: 14px;
}

.tr-formcontent textarea:hover, .tr-formcontent textarea:focus {
    border: 0;
    background-color: #073cb7;
    color: #8D8D8D;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}
