@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');


.tr-about{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tr-abouttitle{
    min-height: 10vh;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tr-abouttitle h1{
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
    font-weight: 800;
    margin: 0;
}

.crm-img{
    width: 175px;
}